body {
    font-family: 'Fredericka the Great', cursive;
    background-image: url(https://storage.needpix.com/rsynced_images/chalkboard-517818_1280.jpg);
    background-size: cover;
    color: white;
}
header{
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 30px;
    height: 140px;
    
}
#h1{
    font-family: 'Rock Salt', cursive;
    padding: 5px;
}
#h2{
    font-family: 'Indie Flower', cursive;
    padding: 5px;
}
#h3{
    font-family: 'Mogra', cursive;
    padding: 5px;
}
main{
    
}
#score{
    display: flex;
    justify-content: space-between;
    margin: 0 65px 0 65px;
    text-align: center;
    font-size: 50px;
}
#playerCount{
    display: flex;
    justify-content: space-between;
    margin: 50px 30px 0px 30px;
    text-align: center;
}
#playerCount div{
    width: 200px;
    height: auto;
}
.choiceGrid{
    outline: 2px solid white;
    width: 200px;
    height: 200px;

}
#gameDisplay{
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
    margin-top: 0;
}
#gameGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 600px;
    height: 600px;
    text-align: center;
    font-size: 110px;
    line-height: 170px;
}
.systemMessage{
    font-size: 40px;
    font-weight: bold;
    
}

#firstGrid{
    grid-column-start: 1;
    grid-row-start: 1;
}
#secondGrid{
    grid-column-start: 2;
    grid-row-start: 1;
    
}
#thirdGrid{
    grid-column-start: 3;
    grid-row-start: 1;
    
}
#fourthGrid{
    grid-column-start: 1;
    grid-row-start: 2;
}
#fifthGrid{
    grid-column-start: 2;
    grid-row-start: 2;
}
#sixthGrid{
    grid-column-start: 3;
    grid-row-start: 2;
}
#seventhGrid{
    grid-column-start: 1;
    grid-row-start: 3;
}
#eighthGrid{
    grid-column-start: 2;
    grid-row-start: 3;
}
#ninthGrid{
    grid-column-start: 3;
    grid-row-start: 3;
}

#buttons{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    
}
button{
    font-size: 35px;
    font-family: 'Fredericka the Great', cursive;
    border: 2px black solid;
}
.bttn2{
    margin-left: 180px;
}
.player{
    font-size: 25px;
    
}
span{
    font-size: 60px;
}
#namePromptWindow{
    display: none;
    position: absolute;
    height: 210px;
    padding: 0 20px 0 20px;
    top: 55%; 
    right: 43%;
    margin: 0;
    background-color: white;
    border-radius: 20%;
    border: 4px black solid;
    color: black;
}
h4{
    margin-top: 20px;
    margin-bottom: 8px;

}
input {
    margin: 3px;
    padding: 2px;
    font-size: 15px;
}
#namePromptWindow button{
    margin: 20px 0 10px 60px;
    font-size: 15px;
}
#namePromptWindow p{
    margin-left: 170px;
    text-align: center;
    background-color: red;
    width: 20px;
}

@media (max-width:1620px){
header{
    font-size: 20px;
    height: 130px;
}
#score{
    margin: 0 90px 0 90px;
    font-size: 30px;
}
#playerCount{
    margin: 30px 30px 0px 30px;
}
.systemMessage{
    font-size: 30px;
}
.player{
    font-size: 18px;
}
span{
    font-size: 40px;
}
.choiceGrid{
    width: 150px;
    height: 150px;
}
#gameGrid{
    width: 450px;
    height: 450px;
    font-size: 110px;
    line-height: 170px;
}
#namePromptWindow{
    height: 210px;
    padding: 0 20px 0 20px;
    top: 30%; 
    right: 43%;
    margin: 0;
}
.bttn2{
    margin-left: 85px;
}
}
@media (max-width:1200px){
    header{
        font-size: 15px;
        height: 80px;
    }
    #score{
        margin: 0 100px 0 100px;
        font-size: 20px;
    }
    #playerCount{
        margin: 15px 30px 0px 30px;
    }
    .systemMessage{
        font-size: 20px;
    }
    .player{
        font-size: 15px;
    }
    span{
        font-size: 30px;
    }
    .choiceGrid{
        width: 100px;
        height: 100px;
    }
    #gameGrid{
        width: 300px;
        height: 300px;
        font-size: 80px;
        line-height: 100px;
    }
    #namePromptWindow{
        height: 210px;
        padding: 0 20px 0 20px;
        top: 26%; 
        right: 40%;
        margin: 0;
    }
    button{
        font-size: 20px;
    }
    .bttn2{
        margin-left: 50px;
    }
    }