body {
    font-family: 'Fredericka the Great', cursive;
    background-image: url(https://storage.needpix.com/rsynced_images/chalkboard-517818_1280.jpg);
    background-size: 100%;
    color: white;
}
header{
    display: flex;
    justify-content: center;
    align-items: baseline;
    font-size: 30px;
    height: 150px;
    
}
#h1{
    font-family: 'Rock Salt', cursive;
    padding: 5px;
    

}
#h2{
    font-family: 'Indie Flower', cursive;
    padding: 5px;
}
#h3{
    font-family: 'Mogra', cursive;
    padding: 5px;
}
main{
    
}
#playerCount{
    display: flex;
    justify-content: space-between;
    margin: 50px 30px 50px 30px;
    text-align: center;
}
#playerCount div{
    width: 200px;
    height: auto;
}
.choiceGrid{
    outline: 2px solid white;
    width: 200px;
    height: 200px;

}
#gameDisplay{
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    margin-top: 50px;
}
#gameGrid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 600px;
    height: 600px;
    text-align: center;
    font-size: 110px;
    line-height: 170px;
    
    
}
.systemMessage{
    font-size: 40px;
    font-weight: bold;
    
}

#firstGrid{
    grid-column-start: 1;
    grid-row-start: 1;
}
#secondGrid{
    grid-column-start: 2;
    grid-row-start: 1;
    
}
#thirdGrid{
    grid-column-start: 3;
    grid-row-start: 1;
    
}
#fourthGrid{
    grid-column-start: 1;
    grid-row-start: 2;
}
#fifthGrid{
    grid-column-start: 2;
    grid-row-start: 2;
}
#sixthGrid{
    grid-column-start: 3;
    grid-row-start: 2;
}
#seventhGrid{
    grid-column-start: 1;
    grid-row-start: 3;
}
#eighthGrid{
    grid-column-start: 2;
    grid-row-start: 3;
}
#ninthGrid{
    grid-column-start: 3;
    grid-row-start: 3;
}

#restart{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
button{
    font-size: 30px;
}
.player{
    font-size: 20px;
}
span{
    font-size: 40px;
}
#nameChange{
    width: 250px;
    height: 150px;
}
h4{
    margin-bottom: 5px;
}
input {
    margin: 3px;
}
#nameChange button{
    font-size: 15px;
}